<form #formRef="ngForm" (ngSubmit)="saveDraft(formRef)">
  <app-card>

    <div class="form-group">
      <label>Name:</label>
      <input
        type="text"
        class="form-control"
        [ngModel]="playlist.name"
        name="name"
        #nameRef="ngModel"
      />
      {{ 170 - nameRef.value?.length }} / 170
    </div>

    <div class="form-group">
      <label>Favorite:</label>
      <input type="checkbox" [ngModel]="playlist.favorite" name="favorite" />
    </div>

    <div class="form-group">
      <label>Color:</label>
      <input type="color" [ngModel]="playlist.color" name="color" />
    </div>

    <ng-container ngProjectAs="footer">
      <input type="button" value="Anuluj" (click)="cancel.emit()" />
      <input type="submit" value="Zapisz" />
    </ng-container>
  </app-card>
</form>
