<div class="row">
  <div class="col">
    <app-items-list [selected]="selected" (selectedChange)="select($event)" [items]="playlists">
    </app-items-list>
<!--     
    <app-items-list [(selected)]="selected"  [items]="playlists">
    </app-items-list> -->
  </div>
  <div class="col">

    <app-playlist-details
      *ngIf="mode == 'show' && selected"
      [playlist]="selected"
      (edit)="edit()"
    ></app-playlist-details>

    <app-playlist-form
      *ngIf="mode == 'edit' && selected"
      (cancel)="cancel()"
      (save)="save($event)  "
      [playlist]="selected"
    ></app-playlist-form>
  </div>
</div>
