
:host-context(.holiday-theme) p {
  color: hotpink;
}

:host(.selected){
  display: block;
  border: 1px solid black;
}

// :host ::ng-deep p {
//   color: hotpink;
// }

.fancy-border{
  border-left: 10px solid;
}