<app-card>
  <ng-container ngProjectAs="title">
    {{ playlist.name }}
  </ng-container>

  <dl 
  [id]="playlist.id" 
  [title]="playlist.name"
   [attr.data-placki]="1 + 3">
    <dt>Name</dt>
    <dd>{{ playlist.name }}</dd>

    <dt>Favorite</dt>
    <dd [style.font-size.%]="125">{{ playlist.favorite ? "Yes" : "Nope" }}</dd>

    <dt>Color</dt>

    <!-- <dd [style.color]="playlist.color" [style.backgroundColor]="playlist.color">
    {{ playlist.color }}
  </dd> -->

    <dd
      [ngStyle]="{
        color: playlist.color,
        backgroundColor: playlist.color,
        borderBottom: '1px solid black'
      }"
    >
      {{ playlist.color }}
    </dd>
  </dl>

  <ng-container ngProjectAs="footer">
    <input type="button" value="Edytuj" (click)="edit.emit()" />
  </ng-container>
</app-card>
